/*
*   Style: monokai
*   https://xyproto.github.io/splash/docs/monokai.html
*/

$color: #f8f8f2;
$background-color: #222c32;
$error-color: #007a0e;
$keyword-color: #b36fc7;
$text-color: $color;
$name-color: #a6e22e;
$literal-color: #7d8dd9;

@import "common.scss";
